
.dropdown{
  list-style: none;
}
.nav-background {
    background: var(--brand);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10000;
  }
  .navbar-container {
    display: flex;
    flex-direction: column;
  }
  .nav-links-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    left: -100%;
    top: 30px;
    gap: 0;
    padding-inline-start: 0px;
    text-align: center;
    transition: 0.3s;

  }
  .logo-close-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .logo-close-container img{
    cursor: pointer;
  }
  /* hamburger menu */
  .icon {
    display: block;
  }
  .menu-container {
    display: grid;
    place-items: center;
    height: 45px;
    width: 50px;
    cursor: pointer;
  }
  .menu-container span {
    width: 30px;
    height: 4px;
    background: black;
    display: block;
    transition: all 0.3s ease-in-out;
  }
  .span-top {
    justify-self: end;
  }
  .span-middle,
  .span-bottom {
    justify-self: end;
  }
  .menu-container:hover span:nth-child(1) {
    width: 35px;
  }
  .menu-container:hover span:nth-child(2) {
    width: 40px;
  }
  .menu-container:hover span:nth-child(3) {
    width: 35px;
  }
  .menu-container.active span:nth-child(1) {
    transform-origin: center center;
    transform: rotate(-45deg) translate(-10px, 12px);
    width: 40px;
  }
  .menu-container.active span:nth-child(2) {
    transform: translateX(10px);
    opacity: 0;
  }
  .menu-container.active span:nth-child(3) {
    transform-origin: center center;
    transform: rotate(45deg) translate(-7px, -12px);
    width: 40px;
  }
  /* end of hamburger menu */
  
  .hideMenu {
    left: 0;
  }
 .dropbtn {
    width: 100%;
    display: inline-block;
    background: var(--brand);
    color: var(--text2);
    padding: 16px 0px;
    font-size: 16px;
    cursor: pointer;
    border-style: none;
  }
  .dropbtn:hover {
    color: var(--text1);
    background: var(--surface1);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
  }
  @media screen and (min-width: 600px) {
    .icon {
      display: none;
    }
    .navbar-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .nav-links-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropbtn {
      color: var(--text2);
      background-image: none;
      background-color: var(--brand);
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: var(--brand);
      min-width: 105px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
  
    .dropdown-content a {
      color: var(--text2);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    .dropdown-content a:hover {
      background-color: var(--surface1);
      color: var(--text1);
      font-weight: bold;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
    .dropdown:hover .dropbtn {
      background-color: var(--surface2);
      color: var(--text1);
    }
    .dropbtn:hover {
      color: var(--text1);
      background-image: linear-gradient(to right, var(--surface1), var(--surface1));
    }
    .nav-background {
      background-image: linear-gradient(to right, white , var(--brand), var(--brand));
    }
  }
  
  @media screen and (min-width: 768px) {
    .navbar-container {
      margin: 0px 1.5rem;
    }
  }
  