.techstack-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    margin: 0 0px;
    position: relative;
}
.techstack-text{
  margin-top: 3em;
  margin-bottom: 0px;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1vw;
  color: white;
  background:url('/images/techstack/photos/techstacktext.jpg');
   background-size: auto 200%;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
}
  .techstack-text:nth-child(2) {
    top: 50vh;
  }
  @keyframes shine {
    from {
      background-position: center 0;
    }
    to {
      background-position: center 200%;
    }
  }


.techstack-container div:nth-child(2) {
   animation-delay: 2s;
  }
  .techstack-container div:nth-child(3) {
    animation-delay: 4s;
  }
  .techstack-container div:nth-child(4) {
    animation-delay: 6s;
  }
  .techstack-container div:nth-child(5) {
    animation-delay: 8s;
  }
  .techstack-container div:nth-child(6) {
    animation-delay: 10s;
  }